

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">current Reservation</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" transparent">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                       User Name
                                    </th>
                                    <th>
                                        PakyGround Name
                                    </th>
                                    <th>
                                        From
                                    </th>
                                    <th>
                                      To
                                  </th>
                                  <th>
                                      Date
                                  </th>
                                  <th>
                                    Status
                                </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let reseravtion of Reservations; let i = index">
                                        <td>
                                            {{i}}
                                        </td>
                                        <td>
                                          {{reseravtion.userName}}
                                        </td>
                                        <td>
                                          {{reseravtion.playGroundName}}
                                        </td>
                                        <td>
                                          {{reseravtion.from}}
                                        </td>
                                        <td>
                                          {{reseravtion.to}}
                                        </td>
                                        <td >
                                          {{reseravtion.date}}
                                        </td>
                                        <td style="color: green;" >
                                            {{reseravtion.status}}
                                          </td>
                                       
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
   