<div class="main-content">
    <div class="container-fluid">
        {{OwnersCount}}
        {{UsersCount}}
        {{PlayGroundApprovalCount}}
        {{PlayGroundsCount}}
        <div class="row">
            
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">PlayGround Reservations</h4>
                        <p class="card-category">The four  most booked playgrounds</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> From 2 Days Ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-primary">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Daily Reservation</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> Reservations throughout the week.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 1 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="websiteViewsChartSt"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">PlayGround Status</h4>
                        <p class="card-category">Status Of All PlayGrounds</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> From 1 Days Ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  