<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon" style="background-color: transparent;">
                        <div class="card-icon "  >
                            <img src="../../assets/noun_football pitch_18784902.png" height="80" width="100">
                        </div>
                        <p class="card-category">playgrounds</p>
                        <h3 class="card-title">49/50
                            <small>GB</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="/notifications">show playgrounds</a>
                            <i class="material-icons ">arrow_right_alt</i>
                            

                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon" >
                            <img src="../../assets/noun_manager_1978588.png" height="80" width="100">
                        </div>
                        <p class="card-category">Owners</p>
                        <h3 class="card-title">$34,245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="/table-list">show owners table</a>
                            <i class="material-icons ">arrow_right_alt</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon" >
                            <img src="../../assets/noun_player_23000501.png" height="80" width="100">
                        </div>
                        <p class="card-category">users</p>
                        <h3 class="card-title">75</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="/icons">show users table</a>
                            <i class="material-icons ">arrow_right_alt</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <img src="../../assets/noun_request_1215072.png" height="80" width="100">
                        </div>
                        <p class="card-category">New PlayGrounds</p>
                        <h3 class="card-title">+245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="/user-profile">Show New PlayGrounds</a>
                            <i class="material-icons ">arrow_right_alt</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
  